.banniere{
	position: fixed;
	top: 0px;
	width: 100%;

	&_logo{		
		background: #bb4f56;
		width: 100%;
		max-height: 100px;
		display: flex;
		justify-content: center;

		a{
			color: black;
			padding-top: 10px;
		}

		img{
			object-fit: contain;
			flex: 1;
			max-width: 60%;
			max-height: 100%;
		}
		button{
			position:absolute;
			right: 0px;
			height: 100%;
			width: 50px;
			background: none;
			border: none;
			font-size: 25px;
			font-weight: bold;
			cursor: pointer;
		}
	}
	
	.menu{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		transition: 1s;
		height: 0px;
		width: 100%;
		overflow: hidden;
		background: #132544;
		color: white;
		position:fixed;
		p{
			margin: 0px;
			margin-bottom: 3px;
			cursor: pointer;
		}
		a{
			color: white;
			background: none;
		}
		button{
			background: none;
			border:none;
			color: white;
			font-size: 15px;
			cursor: pointer;
		}
	}
}
