.Form{
	font-size: 25px;
	display: flex;
	flex-direction: column;
	margin: auto;
	.ConnexionForm{
		max-width: 300px;
		display: flex;
		flex-direction: column;
		padding: 5px;

		&_inputs{
			margin-bottom: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			label{
				color:blue;
				margin-right: 10px;
				font-size: 20px;
			}

		}

	}
}